html,
body {
  height: 100%;
}

.main-container {
  position: fixed;
  top: 100px;
  bottom: 100px;
  left: 100px;
  right: 100px;
  background: lightblue;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
}

.block {
  margin: 20px;
  min-width: 100px;
  height: 200px;
}

.block--1 {
  background: lightgreen;
}

.block--2 {
  min-width: auto;
  flex: 0 0 100px;
  background: lightgrey;
  height: 400px;
  margin: 0 20px;
}

.block--3 {
  background: rebeccapurple;
}
